<main class="signup">
  <form [formGroup]="form" (submit)="submit()" class="signup_wrapper">
    <a routerLink="/">
      <img src="assets/images/logo-header.svg" class="signup_logo" alt="logo" />
    </a>
    <h1 class="signup_title">Добро пожаловать!</h1>
    <label for="signup_name" class="signup_label">Имя</label>
    <input id="signup_name" class="signup_input" formControlName="name" />
    <p
      [ngClass]="
        nameError ? 'signup_error signup_error__showed' : 'signup_error'
      "
    >
      {{ nameError }}
    </p>
    <label for="signup_email" class="signup_label">Email</label>
    <input
      id="signup_email"
      class="signup_input"
      type="email"
      formControlName="email"
    />
    <p
      [ngClass]="
        emailError ? 'signup_error signup_error__showed' : 'signup_error'
      "
    >
      {{ emailError }}
    </p>
    <label for="signup_password" class="signup_label">Пароль</label>
    <input
      id="signup_password"
      class="signup_input"
      type="password"
      formControlName="password"
    />
    <p
      [ngClass]="
        passwordError ? 'signup_error signup_error__showed' : 'signup_error'
      "
    >
      {{ passwordError }}
    </p>
    <button class="signup_register" type="submit" [disabled]="submitDisabled">
      <div *ngIf="isSubmitting" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      Зарегистрироваться
    </button>
    <p class="signup_already-registered">
      Уже зарегистрированы?
      <a class="signup_signin" routerLink="/signin">Войти</a>
    </p>
    <p
      [ngClass]="
        requestError
          ? 'signup_error signup_error__response-error signup_error__showed'
          : 'signup_error'
      "
    >
      {{ requestError }}
    </p>
  </form>
</main>
