<div class="movie-card">
  <a [href]="film.posterUrl" target="_blank" class="movie-card_link">
    <img [src]="film.posterUrlPreview" class="movie-card_image" />
  </a>
  <div class="movie-card_title-wrapper">
    <p class="movie-card_title">
      {{ film.nameRu || film.nameEn || film.nameOriginal }}
    </p>
    <button
      [ngClass]="
        isLiked
          ? loading
            ? 'movie-card_like movie-card_like__loading'
            : 'movie-card_like'
          : loading
          ? 'movie-card_like movie-card_like__loading movie-card_like__unliked'
          : 'movie-card_like movie-card_like__unliked'
      "
      (click)="
        isSavedMovieCard ? deleteMovie() : isLiked ? deleteMovie() : saveMovie()
      "
      [disabled]="loading"
    >
      <svg
        *ngIf="isSavedMovieCard"
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.00098 5.06055L6.65254 7.71211L7.7132 6.65145L5.06164 3.99989L7.71308 1.34844L6.65242 0.287781L4.00098 2.93923L1.34923 0.287484L0.288574 1.34814L2.94032 3.99989L0.288461 6.65174L1.34912 7.7124L4.00098 5.06055Z"
          fill="white"
        />
      </svg>
      <svg
        *ngIf="!isSavedMovieCard"
        width="10"
        height="9"
        viewBox="0 0 10 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.27273 0C6.27273 0 5.54545 0.523077 5 1.08974C4.45455 0.566667 3.72727 0 2.72727 0C1.13636 0 0 1.2641 0 2.83333C0 3.61795 0.318182 4.31538 0.909091 4.79487L5 8.5L9.09091 4.79487C9.63636 4.27179 10 3.61795 10 2.83333C10 1.2641 8.86364 0 7.27273 0Z"
          fill="#FF3055"
        />
      </svg>
    </button>
  </div>
  <p class="movie-card_duration">
    {{ film.ratingKinopoisk || film.ratingImdb || "--" }}
  </p>
</div>
