.promo {
  background-color: #073042;
  height: calc(100vh - 74px - 172px);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo_title {
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 730px;
}

@media screen and (max-width: 768px) {
  .promo {
    height: 924px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    padding: 0 10px;
    height: 710px;
  }
}
