<footer class="footer">
  <p class="footer_text">Создано на Angular 14.</p>
  <div class="footer_links-wrapper">
    <p class="footer_copyright">&#169; {{ currentYear }}</p>
    <div class="footer_links">
      <a
        class="footer_link"
        [href]="links.linkedin"
        target="_blank"
        rel="noreferrer"
        >LinkedIn</a
      >
      <a
        class="footer_link"
        [href]="links.github"
        target="_blank"
        rel="noreferrer"
        >Github</a
      >
    </div>
  </div>
</footer>
