<footer class="footer">
  <p class="footer_text">Создано на Angular.</p>
  <div class="footer_links-wrapper">
    <p class="footer_copyright">&#169; 2022</p>
    <div class="footer_links">
      <a
        class="footer_link"
        href="https://linkedin.com/"
        target="_blank"
        rel="noreferrer"
        >LinkedIn</a
      >
      <a
        class="footer_link"
        href="https://github.com//"
        target="_blank"
        rel="noreferrer"
        >Github</a
      >
      <a
        class="footer_link"
        href="https://facebook.com/"
        target="_blank"
        rel="noreferrer"
        >Facebook</a
      >
    </div>
  </div>
</footer>
