<section class="search-form">
  <form [formGroup]="form" (submit)="submit()" class="search-form_input-label">
    <input
      [ngClass]="
        findError
          ? 'search-form_input search-form_input__error'
          : 'search-form_input'
      "
      [placeholder]="findError ? 'Нужно ввести ключевое слово' : 'Фильм'"
      formControlName="film"
    />
    <button class="search-form_search-button"></button>
  </form>
  <div class="search-form_switch-wrapper">
    <p class="search-form_switch-label">Короткометражки</p>
    <label class="search-form_switch">
      <input
        class="search-form_checkbox"
        type="checkbox"
        [checked]="shorts"
        (change)="switchShorts()"
      />
      <span class="search-form_switch-span"></span>
    </label>
  </div>
</section>
