@import "normalize.css";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/Inter-Black.woff2") format("woff2");
}

body {
  background: #202020;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
