.movies {
  display: flex;
  flex-direction: column;
}

.movies_not-found {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

.movies_error {
  text-align: center;
  margin: 50px 50px 0;
}
